div {
  margin: 10px;
  color: #FFFFCC;
}
.container {
  border: solid 4px silver;
  width: 250px;
  margin: auto;
  background-color: #333333;
}
#display {
  border: solid 2px black;
  margin: 10px;
  background-color: teal;
}
#display-text {
  text-shadow: 0px 0px 7px #FFF;
  text-align: right;
  font-family: orbitron;
  font-size: 35px;
  margin: auto;
  overflow: hidden;
}
#button-panel {
  font-size: 25px;
  font-family: Lucida Console;
  text-align: center;
}
row {

}
.button {
  display: inline-block;
  padding: 10px;
  background-color: black;
  margin: auto;
  border-radius: 7px;
}
.clear-button {
  display: inline;
  margin: auto;
  font-size: 20px;
  background-color: black;
}
